{%extends 'mysite/base.html'%}

{% block 'content'%}
<form action="{% url 'contact' %}" method="post">
{% csrf_token %}
{%load static%}

<div class="container float-center">
        <div class="card text-center bg-dark text-white"> 
              <img class="card-img" src="{% static 'mysite/images/4.jpeg/' %}" alt="Card image" height="250">
             
              <div class="card-body card-img-overlay">
                <h1 class="card-title">お問い合わせ</h1>
                
              </div>
              
            </div>

            <form>
                    <div class="form-row">                        
                      <div class="col m-3" >
                            <label for="formGroupExampleInput">氏名</label>
                        <input name="first_name" type="text" class="form-control" placeholder="First name">
                      </div>
                      <div class="col m-3">
                            <label for="formGroupExampleInput">例:山田太郎</label>
                       <input name="last_name" type="text" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                    <!-- <div class="form-row">
                        
                            <div class="col m-2">
                                    <label for="formGroupExampleInput"> フリガナ</label>
                              <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col m-2">
                                <label for="formGroupExampleInput">例：ヤマダタロウ</label>
                             <input type="text" class="form-control" placeholder="Last name">
                            </div>
                          </div> -->
                  </form>
            <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email アドレス</label>
                      <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">お問い合わせ内容 </label>
                      <input name="massage" type="textArea" class="form-control" id="exampleFormControlTextarea1" rows="3">
                    </div>
                    <button >Submit</button>
                  </form>
                </form>
{% endblock %}