{%extends 'mysite/base.html'%}




{% block 'content'%}



{%load static%}
<div class="container float-center">
      <div class="card text-center bg-dark text-white"> 
            <img class="card-img" src="{% static 'mysite/images/4.jpeg/' %}" alt="Card image" height="250">
           
            <div class="card-body card-img-overlay">
              <h1 class="card-title">バンガロール留学</h1>
              <p class="card-text">インドのシリコンバレーでで飛躍的に自分の価値を高めてみませんか</p>
              <a href="#" class="btn btn-primary">バンガロールについてもっと詳しく</a>
            </div>
            <div class="card-footer text-muted">
              バンガロール留学
            </div>
          </div>

      <div class="card-deck">
            <div class="card  border-info mb-3">
              <img class="card-img-top" src="{% static 'mysite/images/1.jpeg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">語学留学</h5>
                <p class="card-text">バンガロールの語学学校を紹介しています。気になるところをチェックしてみてください。</p>
                <a class="btn btn-primary btn-sm float-right" href="#" role="button">詳細</a>
              </div>
            </div>
            <div class="card  border-info mb-3">
              <img class="card-img-top" src="{% static 'mysite/images/2.jpeg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">プログラミング留学</h5>
                <p class="card-text">バンガロールのプログラミングスクールを紹介しています。気になるところをチェックしてみてください。</p>
                <a class="btn btn-primary btn-sm float-right" href="#" role="button">詳細</a>
              </div>
            </div>
            <div class="card  border-info mb-3">
              <img class="card-img-top" src="{% static 'mysite/images/3.jpeg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">バンガロールでの生活ブログ</h5>
                 <p class="card-text">バンガロールの生活役立ち情報を発信しています。インドに来るならば知っておくべき情報です</p>
                <a class="btn btn-primary btn-sm float-right" href="https://www.bangaroleleryugaku.com" role="button">詳細</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
