{%extends 'mysite/base.html'%}



{% block 'content'%}
{%load static%}

<div class="container float-center">
        <div class="card text-center bg-dark text-white"> 
              <img class="card-img" src="{% static 'mysite/images/4.jpeg/' %}" alt="Card image" height="250">
             
              <div class="card-body card-img-overlay">
                <h1 class="card-title">費用</h1>
                <p class="card-text">インド留学は他の国に比べて安いですが質は問題ないものが多いです</p>
                <a href="#" class="btn btn-primary">バンガロールについてもっと詳しく</a>
              </div>
              <div class="card-footer text-muted">
                バンガロール留学
              </div>
            </div>
      
<div class="container float-center">
<div class="card-deck ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">インド語学留学 </h5>
            
            <h3 class="card-text">１万円〜１０万円/１ヶ月</h3>
            
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">インドプログラミング留学</h5>
            <h3 class="card-text">３万〜１５万円/１ヶ月</h3>
            
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">生活費</h5>
            <h3 class="card-text">１万〜１０万/１ヶ月</h3>
           
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}