{%extends 'mysite/base.html'%}



{% block 'content'%}
<div class="card text-center">
       
        <div class="card-body m-5" >
          <h5 class="card-title">留学費用</h5>
          <p class="card-text">学校によって留学費用は違いますがインドでは他の国に比べてやすい傾向があります。
              
          </p>
          
        </div>
       
        </div>
      
<div class="container float-center">
<div class="card-deck ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">インド語学留学 </h5>
            
            <h3 class="card-text">１万円〜１０万円/１ヶ月</h3>
            
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">インドプログラミング留学</h5>
            <h3 class="card-text">３万〜１５万円/１ヶ月</h3>
            
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">生活費</h5>
            <h3 class="card-text">１万〜１０万/１ヶ月</h3>
           
          </div>
        </div>
      </div>
    </div>
{% endblock %}